<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    Flask 
</title>
<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
</head>
<body>
    
    {% include 'includes/navigation.html' %}

    <main>
        

        {% include 'includes/preloader.html' %}
             
              <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            
                            <h1 class="fw-bolder display-2">
                                P2P
                            </h1>
                            <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                                In computer networks P2P means peer-to-peer communication ie information transfer from one point to another.
                                Here P2P is an acronym for People 2 People , the main goal of our platform is to bridge the communication gap faced by Physically Impaired people.
                                Join us to learn and apply Indian Sign Language
                            </h2>
                            <!-- Button Modal -->
                            <div class="d-flex justify-content-center align-items-center mb-5">
                                <a href="#components" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2"><span
                                    class="fa-solid fa-hands-holding-circle me-2"></span> <span class="d-none d-md-inline">Explore
                                        </span> <span class="d-md-none">Sevices</span></a>
                            </div>
                       
                        </div>
                    </div>
                </div>
                
                <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-white"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                    <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
                </svg></figure>
        </section>

        <div class="section py-0">
            <div class="container mt-n10 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10"><img src="/static/assets/img/illustrations/New-pic.jpg"
                            alt="ISL" class="rounded mx-auto d-block"></div>
                </div>
            </div>
        </div>
            <!--End of Title section-->
 <!-- Section -->
 <section class="section section-lg">
    <div class="container">
        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                <h2 id="el1"  class="h1 mb-4">Our Services</h2>
                <p class="lead">Our goal is to facilitate communication between you and your deaf relatives, friends, coworkers, and neighbours. Learn Indian Sign Language right now to help bridge gaps.
                </p>
            </div>
        </div>
        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Get started with the basics</h3>
                        <span class="card-subtitle text-gray fw-normal">Learn new Words</span>
                        <p class="card-text my-3">Learn the basics of Sign Language with the help of properly organised guides.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Practice and master your skills</h3>
                        <span class="card-subtitle text-gray fw-normal">Real Time Detection</span>
                        <p class="card-text my-3">Get the hang of communicating in sign language with our real-time application</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow border-gray-300">
                  
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Signs for newcomers and learners</h3>
                        <span class="card-subtitle text-gray fw-normal">Learn and Practice</span>
                        <p class="card-text my-3">Watch various tutorials to gain invaluable Indian Sign Language receptive skills</p>
                    </div>
                </div>
            </div>
        </div>
                  <!-- Section -->
                  <section class="section section-md">
                    <div class="container">
                        <div class="row align-items-center justify-content-around">
                            <div class="col-md-6 col-xl-6 mb-5">
                                <img class="organic-radius img-fluid" src="/static/assets/img/illustrations/s1.jpg" alt="eh">
                            </div>
                            <div class="col-md-6 col-xl-5 text-center text-md-left">
                                <h2 class="h1 mb-5">Engagement.</h2>
                                <p class="lead">Engage in dynamic and practical dialogues that will help you quickly become conversant in sign language. Not sure if you are signing correctly? Improve your execution with our real-time detection feature to boost your signing confidence.</p>
                                <p class="lead"> Want to research a certain symbol or word? No issue; we've got you covered with our dictionary for Indian Sign Language.</p>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-around">
                            <div class="col-md-6 col-xl-6 mb-5">
                                <h2 class="h1 mb-5">Learn and Teach.</h2>
                                <p class="lead">Our bite-sized, engaging sessions will assist you in developing the skills required for real-life conversation.</p>
                                <p class="lead">And because we are aware of your hectic schedule, we made sure that with the help of our up to date tutorial videos, you will be able to start having conversations right away..</p>
                            </div>
                            <div class="col-md-6 col-xl-5 text-center text-md-left">
                                <img class="organic-radius img-fluid" src="/static/assets/img/illustrations/s3.webp" alt="eh">
                            </div>
                        </div>
                    </div>
                </section>
        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                <h2 id="el1"  class="h1 mb-4">Daily Learning</h2>
                <p class="lead">Habit building is one of the most revered discipline, to make sure you are on track with learning new words in ISL/ASL we have bundled up a set of words for you to learn daily.
                </p>
            </div>
        </div>
        <div class="row mb-5 mb-lg-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Word of the day in ISL</h3>
                        <span class="card-subtitle text-gray fw-normal">Learn new Words</span>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KadUmPHORYo" controls autoplay></iframe>
                          </div>
                      
                        <p class="card-text my-3"></p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow border-gray-300">
                    
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Alphabet of the day in ASL</h3>
                        <span class="card-subtitle text-gray fw-normal">Real Time Detection</span>
                           <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="static\assets\img\alphavid.mp4" controls autoplay></iframe>
                          </div>
                        <p class="card-text my-3"></p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow border-gray-300">
                  
                    <div class="card-body">
                        <h3 class="h4 card-title mb-2">Alphabet of the day in ISL</h3>
                        <span class="card-subtitle text-gray fw-normal">Learn and Practice</span>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="static\assets\img\alphavid.mp4" controls autoplay></iframe>
                          </div>
                        <p class="card-text my-3"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <section class="section py-0">
                <div class="container z-2">
                <div class="row position-relative justify-content-center align-items-cente">
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card shadow border-gray-300 ">
                            <div class="card-body text-center text-md-left">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h2 class="h1 mb-3">Want to know more?</h2>
                                        <p class="lead mb-4">
                                            We as a team believe in a transparent environment
                                        </p>
                                        <a href="/about" class="btn btn-primary">
                                            <span class="me-1">
                                                <span class="fas fa-file-invoice"></span>
                                            </span>
                                            Check About Us
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right">
                                        <img src="/static/assets/img/illustrations/s2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>

        <div class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <h3 class="text-center">FAQs</h3>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-12 col-lg-8">
                        <!--Accordion-->
                        <div class="accordion" id="accordionExample1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Indian Sign Language?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        Indo-Pakistani Sign Language or ISL is the predominant sign language in the subcontinent of South Asia, used by at least 15 million deaf signers.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How are ASL and ISL different from eachother?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        They are differentin usage ie ASL is signed using one hand while ISL requires both hands.
                                        Although the alphabetsmay be signed differently, but there are many common words with same signs in both.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Are there different types of Sign Languages?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample1">
                                    <div class="accordion-body">
                                        <strong>YES.</strong> There are more than 300 different sign languages in use around the world. 
                                        They vary from nation to nation. Even in countries where the same language is spoken, sign language can have many different regional accents that bring subtle variations to people's use and understanding of signs.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of Accordion-->
                    </div>
                </div>
            </div>
        </div>
     </div>
    </section>
    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

</body>
</html>